main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;
}

.board-container {
    display: flex;
    gap: 100px;
}

.board {
    display: grid;
    grid-template-columns: repeat(10, 2rem);
    grid-template-rows: repeat(10, 2rem);
    background-color: #d9d9d9;
    border: 2px solid #bfbfbf;
}

.cell {
    border: 1px solid #bfbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
}

.ship {
    background-color: aqua;
}

.damaged-ship {
    background-color: red;
}

.missed-attack {
    background-color: yellow;
}

.restart-button {
    margin-top: 50px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

.start-game-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #d9d9d9;
    color: #333;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}
